.spacex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
    padding: 20px;
    gap: 5rem;
  }
  
  .image-container img {
    max-width: 50rem;
  }
  
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .Link{
      width: 3rem;
      height: auto;
    }
    
  }
  
  .yt {
    margin-top: 10px;
  }
  