@import "../../styles/variables.scss";
.menu{

    position: fixed;
   
    .item{
        display: flex;
        flex-direction: column;
        gap: 7px;
        // margin-bottom: 10px;
        margin-top: 25px;
        // align-items: center;
    }

    .title{
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: $soft-color;

    }

    .ListItem{
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 10px;
        border-radius: 20px;

        .icon{
         width: 30px;
         height: auto; 
         max-width: 100%; 
         display: block;
        //  margin: 0 auto;
        }

        &:hover{
            background-color: $soft-bg;
              border-bottom: 1px solid $soft-color;
              color: $soft-color;

        }

        
    }

    

    .logo{

        // font-weight: bold;
        // font-size: large;
        width: 100px;
        height: auto; 
        max-width: 100%; 
        display: block;
        margin: 0 auto;
    }

   

}