.isro {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  height: 20px;

  h5 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #64ffda;
  }

  .launch-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    h6 {
      display: flex;
      align-items: center;
    }
  }
}
