@import "../../styles/variables.scss";

.home {
    display: grid;
    // gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    // background-image: url('../../../public/images/milky.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    
    // background-color: rgba(255, 255, 255, 0.4);

    //trying new colors 
    // background-color:#121212;
    grid-auto-flow: dense;
}


.box {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $soft-bg;
    
    color: $soft-color;
    background-color: rgb(18, 18, 18,0.8)
    
}

.box1 {
    grid-column: span 1;
    grid-row: span 2;
    // background-color: #121212;
}

.box4 {
    grid-column: span 2;
    grid-row: span 1;
}

.box5 {
    grid-column: span 2;
    grid-row: span 3;
}

.box8{
    grid-column: span 1;
    grid-row: span 2;
}
.box9{

    grid-column: span 2 ;
    grid-row: span 2;
    // grid-auto-rows: minmax(80px, 100px);

}

.solar-system-gif{
    display: flex;
    justify-content: space-between;
    .img{
        width: 450px;
        height: 450px;
    }
}

