/* Home.css */
.apod {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Set the container's height to 100% of the viewport height */
  }
  
  .image-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  