@import "../../styles/variables.scss";
:root{
    --index: calc(1vh + 1vw);
}
.solar-content{
    // background-image: url('../../../public/images/Space/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    min-height: 100vh;
    color: white;
    padding: 20px;
    justify-content: space-between;
    background-color: black;

}


.solar-cards{
      display: grid;
    //   grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(150px, auto);
      grid-template-rows: repeat(4,1fr);
    //   grid-auto-rows: minmax(50px, 150px);
      gap: 20px;
        margin-top: 30px;
}

.solar {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $soft-bg;
    background-color: $main-color;
    background-image: url("../../../public/images/Space/cardBg.jpg");
    // color: $soft-color;
    display: flex;
    opacity: 0.7;
    img{
        width:150px;
        height: 150px;
    }

    &:hover{
        opacity: 1.0;
    }

    
}

.planet-content{
    
    // gap: 20px;
    align-items: center;
    
}

.planet-title{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.solar-system{
    color: $soft-color;
    font-size: larger;
}

.sun{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    justify-content: space-between;
    .sun-solar-system{
        width: 400px;
        height: 400px;
        display: flex;
        align-items: right;
        border-radius: 15px;
        justify-content: space-between;
    }
    // background-color: antiquewhite;
    // background-image: url("../../../public/images/Space/sun-solar-system.webp");
    // // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: right;
    
}

.moon{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
