
.apod {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    min-height: 100vh; /* Set the container's height to 100% of the viewport height */
    
  }
  h2{
    font-weight: 800;
  }
  h2,h3,h5{
    color:gainsboro;
   
  }

  
  
  .image-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  img {
    width: 100%; /* Make all images the same width */
  height: auto;
  max-height: 400px; /* Limit the height to maintain aspect ratio */
  object-fit: cover; /* Ensure the image fits in the specified dimensions */
  margin: 10px 0;
  }
  