/* News.css */

.page {
  margin: 20px;
  /* background-color: #121212; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color:whitesmoke;
  
}
.article {
   /* background-color: #ffffff;  */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr); /* Display cards in three columns */
  grid-gap: 20px; /* Adjust the gap between cards */

}

.news-card {
  padding: 20px;
  /* background-color: rgb(0, 31, 63);  */
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  /* border-radius: 20%; */
}

.news-card:hover {
  transform: scale(1.05); /* Scale up on hover for animation */
}


/* .news-card h2 {
  font-size: 1.25rem;
  margin: 0;
}

.news-card p {
  margin: 10px 0;
}

.news-card img {
  width: 100%; 
  height: auto;
  max-height: 150px; 
  object-fit: cover; 
  margin: 10px 0;
}
*/
/* .news-card a {
  color: #ff4136;
  text-decoration: none;
  font-weight: bold;
}

.news-card a:hover {
  text-decoration: underline;
}  */


/*  Search box */
.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 12px;
  margin-right: 10px;
  outline: none;
}

.search-box input::placeholder {
  color: #999;
}

.search-box input:focus {
  border-color: #191c1e; /* Change border color on focus */
}

.search-box button {
  background-color:  #9bd8f2;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color:#56e4e4; /* Darker color on hover */
}
