@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 h2 h3 h4 h5 h6{
  color:white;
}
// .main{
//   display: flex;
//   // width: 100%;
// }
.main{
  // background-color:  $main-bg;
    // background-color: #121212;
    background-image: url('../../public/images/Space/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    min-height: 100vh;
 }


// .nav{
  
//   font-family: "Inter", sans-serif;
//   background-color: $main-bg;
//   color: $main-color;
//   width: 100%;
//   padding: 10px;
//   display: flex;
// }

.content{
  display: flex;
}


  .main-content{
    // padding: 5px 20px;
    width: 100%;
    // margin-top: 35px;
  }

  .menu-content{
    font-family: "Inter", sans-serif;
    // background-color: $main-bg;
    background-color: rgb(18, 18, 18,0.2);
    // opacity: 0.4;
    color: $main-color;
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;
    display: flex;
    // height: 100%;
  }

  // .main{
  //   @include linear-gradient(right,  #111111, #F8F8FF);
  // }