.rover-main {
  text-align: left;
  display: flex;
  padding: 1.25rem;
  gap: 20px;
  

  .left-content {
    display: flex;
    flex-direction: column;
    // gap: 5px;
    flex: 1;

    .heading {
      h1 {
        color: white;
        font-size: 1.5rem;
        margin: 0;
        font-weight: 700;
      }

      span {
        font-weight: 400;
      }

      h2 {
        color: white;
        font-size: 1.125rem;
        margin: 0;
        font-weight: 600;
      }
    }

    .select-rover {
      margin-top: 0.625rem;

      label {
        color: white;
        margin-right: 10px;
      }

      select {
        padding: 5px;
        font-size: 16px;
      }
    }
  }

  .right-content {
    flex: 3; /* Occupy remaining space */
    display: flex;
    justify-content: flex-end;
    
    .rover {
      img {
        max-width: 80rem;
        height: 80rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
      }
    }
  }
}
