.rover-main {
  text-align: left;
  display: flex;
  padding: 20px;
  gap: 20px;

  .left-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .heading {
      h1 {
        color: white;
        font-size: 24px;
        margin: 0;
        font-weight: 700;
      }

      span {
        font-weight: 400;
      }

      h2 {
        color: white;
        font-size: 18px;
        margin: 0;
        font-weight: 600;
      }
    }

    .select-rover {
      margin-top: 10px;

      label {
        color: white;
        margin-right: 10px;
      }

      select {
        padding: 5px;
        font-size: 16px;
      }
    }
  }

  .right-content {
    flex: 1; /* Occupy remaining space */
    display: flex;
    justify-content: flex-end;

    .rover {
      img {
        max-width: 45vh;
        height: 45vh;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
