// .rover-main {
//   text-align: center;
//   // background-color: #121212;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px;
//   gap: 20px;
//   .loading-div {
//     max-width: 100%;
//     height: auto;
//   }
//   .heading {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 5px;
//     h1 {
//       color: white;
//       font-size: 24px;
//       margin: 0;
//       font-weight: 700;
//     }
//     span{
//       font-weight: 400;
//     }

//     h2 {
//       color: white;
//       font-size: 18px;
//       margin: 0;
//       font-weight: 600;
//     }
//   }
//   h1 {
//     color: white;
//     font-size: 24px;
//     margin: 0;
//   }

//   .rover {
//     img {
//       max-width: 40vh; /* Ensure the image doesn't exceed its container */
//       height: auto;
//       border-radius: 8px; /* Add a border radius for a rounded look */
//       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
//     }
//   }
//   .select-rover {
//     label {
//       color: white;
//       margin-right: 10px;
//     }

//     select {
//       padding: 5px;
//       font-size: 16px;
//     }
//   }
// }
// .rover-main {
//   text-align: left;
//   display: flex;
//   padding: 20px;
//   gap: 20px;

//   .heading {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 5px;

//     h1 {
//       color: white;
//       font-size: 24px;
//       margin: 0;
//       font-weight: 700;
//     }
//     span {
//       font-weight: 400;
//     }

//     h2 {
//       color: white;
//       font-size: 18px;
//       margin: 0;
//       font-weight: 600;
//     }
//   }

//   .rover {
//     flex: 1; /* Occupy remaining space */
//     display: flex;
//     justify-content: flex-end;

//     img {
//       max-width: 100%;
//       height: auto;
//       border-radius: 8px;
//       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//     }
//   }

//   .select-rover {
//     margin-top: 10px;

//     label {
//       color: white;
//       margin-right: 10px;
//     }

//     select {
//       padding: 5px;
//       font-size: 16px;
//     }
//   }
// }




.rover-main {
  text-align: left;
  display: flex;
  padding: 20px;
  gap: 20px;

  .left-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .heading {
      h1 {
        color: white;
        font-size: 24px;
        margin: 0;
        font-weight: 700;
      }

      span {
        font-weight: 400;
      }

      h2 {
        color: white;
        font-size: 18px;
        margin: 0;
        font-weight: 600;
      }
    }

    .select-rover {
      margin-top: 10px;

      label {
        color: white;
        margin-right: 10px;
      }

      select {
        padding: 5px;
        font-size: 16px;
      }
    }
  }

  .right-content {
    flex: 1; /* Occupy remaining space */
    display: flex;
    justify-content: flex-end;

    .rover {
      img {
        max-width: 45vh;
        height: 45vh;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
